body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

p {
    color: #333333;
}

.flex-test {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.box {
  background: #6c63ff;
  color: white;
  padding: 20px;
}


